
* {
    /* this screws with click/scroll controls, frameless only */
    /* user-select: none; */
    /* -webkit-app-region: drag; */
}

@font-face {
    font-family: "ubuntu";
    src: url("ubuntu-font/Ubuntu-R.ttf");
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #111;
}

#splash-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

#splash-logo {
    width: 125px;
    height: 125px;
}

.splash-notice {
    font-family: "ubuntu", "Arial";
    color: rgb(190, 190, 190);
}

#player-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

audio, video {
    min-width: 0%;
    width: 100%;
    height: 100%;
}

.keep-proportions {
    object-fit: contain;
}

.ignore-proportions {
    object-fit: fill;
}