:root {
    --player-background-color: rgba(0, 0, 0, 0.5);
    --player-roundness-amount: 20px;
    --player-blur-amount: 10px;
}

* {
    font-family: "ubuntu", "Arial";
    color: white;
}

@font-face {
    font-family: "ubuntu";
    src: url("ubuntu-font/Ubuntu-R.ttf");
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#splash-container {
    width: 50%;
    height: 50%;

    position: absolute;
    z-index: -1;

    display: flex;
    flex-direction: column;
    gap: 20px;

    justify-content: center;
    align-items: center;

    padding: 20px;
    border: 3px dashed white;
    border-radius: 20px;
}

#splash-container * {
    margin: 0;
}

#splash-logo {
    width: 125px;
    height: 125px;
}

.splash-notice {
    font-family: "ubuntu", "Arial";
    color: rgb(190, 190, 190);
}

div#player-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

audio, video {
    min-width: 0%;
    width: 100%;
    height: 100%;
}

.keep-proportions {
    object-fit: contain;
}

.ignore-proportions {
    object-fit: fill;
}

.glass-component {
    background-color: var(--player-background-color);
    backdrop-filter: blur(var(--player-blur-amount));
    border-radius: var(--player-roundness-amount);
    box-shadow: 0px 0px 30px 0px var(--player-background-color);
}

div#player-controls {
    width: 90%;
    height: 50px;

    box-sizing: border-box;

    position: absolute;
    bottom: 20px;

    display: flex;
    align-items: center;
    gap: 20px;
    
    padding: 0px 25px;

    z-index: 1;

    opacity: 0;
    transition: opacity .7s;
}

body:hover div#player-controls {
    opacity: 1;
}

div#player-controls img {
    height: 22px;
    width: 22px;
    filter: invert(100%);
    mix-blend-mode: difference;
}

/* div#player-controls input[type=range] {
    appearance: none;   
    outline: none;
    background: rgb(30, 30, 30);
    border-radius: var(--player-roundness-amount);
}

div#player-controls input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);
}

div#player-controls input[type=range]::-webkit-slider-runnable-track {
    appearance: none;
    background: rgb(0, 80, 255);
} */

#gui-progress-bar {
    height: 30%;
    width: 100%;
}

#gui-volume-controls {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#gui-volume-slider-container {
    width: 45px;
    height: 150px;

    position: absolute;
    bottom: 60px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity .7s;
}

#gui-volume-slider-container:hover, #gui-volume-icon:hover ~ #gui-volume-slider-container{
    opacity: 1;
}

#gui-volume-slider {
    transform: rotate(-90deg);
}