@media screen and (max-width: 400px) {
    #guiProgressBar {
        display: none !important;
    }
}

@media screen and (max-width: 340px) {
    #playerControls {
        display: none !important;
    }
}

#waveform {
    width: 800px;
    height: 250px;
}

.glass-component {
    background-color: var(--background-color);
    backdrop-filter: blur(var(--controls-blur-amount));
    border-radius: var(--controls-roundness-amount);
    box-shadow: 0px 0px 30px 0px var(--background-color);
}

#playerControls {
    height: 50px;
    max-width: 80vw;
    box-sizing: border-box;
    z-index: 2;

    position: absolute;
    bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    
    padding: 0px 25px;
    transition: opacity .7s;
}

#playerControls:hover {
    opacity: 1 !important;
}

#playerControls img {
    height: 22px;
    width: 22px;
    filter: invert(100%);
}

#playerControls input[type=range] {
    accent-color: var(--controls-accent-color);
    outline: none;
}

#playerControls input[type=range]::-webkit-slider-thumb {
    opacity: 0;
}

#guiProgressBar {
    height: 30%;
    width: 100vw;
    min-width: 0;
}

#guiTimeProgress {
    user-select: none;
    white-space: nowrap;
}

#guiVolumeControls {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#guiVolumeSliderContainer {
    width: 45px;
    height: 150px;

    position: absolute;
    bottom: 60px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity .7s;
}

#guiVolumeSliderContainer:hover, #guiVolumeIcon:hover ~ #guiVolumeSliderContainer{
    opacity: 1;
}

#guiVolumeSlider {
    transform: rotate(-90deg);
}