div#sidebar {
    height: calc(100% - var(--titleBar-height));

    position: absolute;
    top: var(--titleBar-height);
    left: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    padding: 20px 20px;
    
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(var(--controls-blur-amount));
    z-index: 2;

    transition: all 0.5s;
    transition-timing-function: ease-out;
}

div#sidebar[active="false"] {
    width: 0;
    opacity: 0;
    visibility: hidden;
}

div#sidebar[active="true"] {
    width: 500px;
    opacity: 1;
    visibility: visible;
}

div#sidebar p {
    width: 100%;
    
    margin: 0;
    padding: 10px 0px;
    overflow: hidden;
    white-space: nowrap;
    
    transition: opacity 0.5s;
    transition-timing-function: ease;
}

div#sidebar[active="false"] p {
    opacity: 0;
}
div#sidebar[active="true"] p {
    opacity: 1;
}

div#sidebar p:first-child {
    font-size: xx-large;
    justify-self: flex-start;
}

/* first selector doesn't work? lol */
div#sidebar p:not(:last-child):hover {
    color: black;
    background-color: white;
    transition: all 0.5s;
}

div#sidebar p:nth-last-child(2) {
    justify-self: flex-end;
    color: red;
}

div#sidebar p:last-child {
    color: grey;
    justify-self: flex-end;
}

hr {
    width: 100%;
}