#titlebar {
    display: flex; /* None on non-windows clients */
    height: var(--titlebar-height);
    background: var(--titlebar-color);
    z-index: 999;
}

#titlebar button {
    min-width: 40px;
    border: none;
    padding: 0;
    transition: background-color 0.2s;
}

#titlebar button:hover {
    background-color: var(--background-color);
    transition: background-color 0.2s;
}

button#sidebarBtn {
    background: url('../custom-icons/menu.svg') center center no-repeat;
}

p#windowTitle {
    margin: 0;
    width: 100%;
    padding-left: 90px;
    padding-right: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    text-align: center;

    pointer-events: none;
    -webkit-app-region: drag;
}

button#minimizeBtn {
    background: url('../custom-icons/minimize.svg') center center no-repeat;
}

button#maximizeBtn {
    background: url('../custom-icons/maximize.svg') center center no-repeat;
}

button#closeBtn {
    background: url('../custom-icons/close.svg') center center no-repeat;
}