#titleBar {
    height: var(--titleBar-height);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: var(--titleBar-color);
    padding: 0px 10px;

    position: relative;
    z-index: 999;
}

#titleBar button {
    height: 15px;
    width: 15px;
    border: none;
    filter: invert(100%);
}

#titleBarLeft {
    width: 100px;
}

#titleBarLeft > #titleBarMenuBtn {
    background: url('../fontawesome/align-justify.svg') center no-repeat;
}

#titleBarMiddle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    pointer-events: none;
    -webkit-app-region: drag;
}

#titleBarText {
    max-width: calc(100vw - 275px);
    height: 100%;
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
}

#titleBarRight {
    width: 100px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

#titleBarRight button#minimizeBtn {
    background: url('../fontawesome/window-minimize.svg') center no-repeat;
}

#titleBarRight button#maximizeBtn {
    background: url('../fontawesome/window-maximize.svg') center no-repeat;
}

#titleBarRight button#closeBtn {
    background: url('../fontawesome/square-xmark.svg') center no-repeat;
}